---
layout: layouts/full.njk
title: Inicio
---
<div class="home-slide">
  <h1 class="font-2 home-title">Maydev es…</h1>
</div>

<div class="home-slide">
  <img src="/assets/images/home-1.jpg" alt="">
  <a href="/servicios/" class="font-2 home-subheader">Servicios</a>
</div>

<div class="home-slide">
  <img src="/assets/images/home-2.jpg" alt="">
  <a href="/portafolio/" class="font-2 home-subheader">Portafolio</a>
</div>

<div class="home-slide">
  <img src="/assets/images/home-3.jpg" alt="">
  <a href="/quienes somos/" class="font-2 home-subheader home-subheader-alt">Quienes somos</a>
</div>

<div class="home-slide">
  <img src="/assets/images/home-4.jpg" alt="">
  <a href="/contactenos/" class="font-2 home-subheader home-subheader-alt">Contáctenos</a>
</div>