---
layout: layouts/base.njk
title: Quienes somos
eleventyNavigation:
  key: quiensoy
  title: Quienes somos
  order: 4
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 quien-soy-titulo">
  <h1 class="font-2 text-headline">Quienes somos</h1>
</div>

<div class="col-6 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/m1.jpg" alt="Marco">
  
   <h2>Desarrollo Backend-DBA:</h2>

   <p>"Como desarrollador backend y DBA, nuestro compañero es responsable de diseñar y construir la arquitectura de nuestra aplicación, 
   escribir el código que la impulsa y administrar las bases de datos donde almacenamos toda nuestra información.
    En otras palabras, él es el cerebro detrás de nuestra aplicación."<br>
  </p>
</div>

<div class="col-4 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/m2.jpg" alt="Mayra">

  <h2>Community Manager</h2>
  <p> Mayra es una pieza fundamental en nuestro equipo de marketing digital. Su pasión por los datos y su 
    capacidad analítica nos permiten tomar decisiones basadas en evidencias.
     Además, es una excelente estratega y siempre está buscando nuevas formas de llegar a nuestra audiencia".
  </p>
</div>

<div class="col-4 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/m3.jpg" alt="Silvia">

  <h2>Diseño-Desarrollo Frontend</h2>
  <p>
    "Silvia se encarga del frontend es como un pintor digital que transforma los diseños en código. Toma las ideas del diseñador 
    gráfico y las convierte en una interfaz web interactiva, utilizando lenguajes como HTML, CSS y JavaScript."
</p>
</div>
